.members {
    display: flex;
    margin-top: 5vh;
    flex-wrap: wrap;
}

.member {
    width: 25%;
    margin: 0px 4%;
    border: 1px solid gainsboro;
    background: #efefef;
    padding: 2vh 0;
    margin-bottom: 3vh;
}

.member .name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.member .email {
    margin-top: 0px;
    font-style: italic;
    color: dimgray;
}

.member button {
    margin-top: 0px;
}
